<nav>
  <a href="/{{user.username}}">Home | </a>
  <a href="/fullusers">All Users</a>
</nav>
<span class="center"><h1>Hello {{user.username}}</h1></span>

<span class="center"><h2>What will it be today?</h2></span>


<br><br>
<aside>
  <p>Would you like to add a new favorite?</p>
  <form action="/{{user.username}}/add" method="post">
    <span class="add"><label for="title">Movie Title<span class="req">*</span>:</label><input type="text" name="title" placeholder="Movie Title"></span>
    <br>
    <span class= "add"><label for="Year">Year:</label><input type="text" name="year" placeholder="Year"></span>
    <br>
    <input type="submit" name="submit" value="Search">
    <h6>Fields marks with <span class='req'>*</span> are required</h6>
  </form>
</aside>
<ul>
{{#each user.favMovies}}
<div class="movie">
  <h3 class="cat">Title: </h3><li>{{title}}</li><br>
  <a href="http://www.imdb.com/title/{{imdbId}}"><img src="{{poster}}" alt="Poster for {{title}}" /></a>
  <h4 class="cat">Year: </h4><li>{{year}}</li><br>
  <h4 class="cat">Genre: </h4><li>{{genre}}</li><br>
  <h4 class="cat">Actors: </h4><li>{{actors}}</li><br>
  <h4 class="cat">Summary: </h4><li>{{summary}}</li><br>
  <form method="POST" action="/{{../user.username}}/{{imdbId}}?_method=DELETE">
    <button type="submit" name="delete">Delete</button>
  </form>
</div>
{{/each}}
</ul>
